.app {
  margin: 0;
  padding: 0;
  /* font-family: sans-serif; */
  font-size: 13px;
}

.app .btn {
  font-size: 13px;
}

.app .card-header {
  height:32px;
  padding: 5px;
  display: flex;
  align-items: center;
  border-bottom: 0;
}

.left_panel {
  flex: 0 0 300px;
}

.attr_tag {
  cursor: pointer;
  flex: 0 0 120px;
  height: 24px;
  overflow: hidden;
}

.attr_value {
  white-space: nowrap;
  overflow: hidden;
}

.encoding_panel {
  width: 720px;
}

.encode_field {
  height: 32px;
  flex: 0 0 224px;
}

.encode_field_header {
  height: 100%;
  flex: 0 0 64px;
  margin-right: -1px;
  /* border-right: 0; */
}

.encode_field_content  {
  height: 100%;
  flex: 0 0 160px;
}

.chart-bg {
  fill: #eeeeee;
  opacity: 0.2;
}

.selection {
  fill: #cccccc;
  opacity: 0.2;
}



.dot {
  cursor: pointer;
}

.circle-ring {
  fill: none;
  stroke-width: 3px;
  opacity: 0.7;
}

.circle-bg {
  /* fill: white; */
  stroke-width: 0;
  opacity: 0;
}

.circle-ring {
  stroke: #999999
}

.selected .circle-bg {
  opacity: 0.15;
}

.label {
  fill: #000000
}

.x-axis .tick text {
  transform: rotate(-90deg) translate(-1em, -1.2em);
  text-anchor: end;
}

.color-picker {
  position: relative;
}
